
.banner {
	position: relative;
	overflow: hidden;
	height:390px;
}
.banner .main{
	width:1200px;
	overflow: hidden;
}

.banner_img {
	height:390px;
	/*width:9999PX;*/
}
.banner_img img {
	display: block;/*****解决图片三像素*****/
	float:left;
}
.banner .tips {
	width:88px;
	height:20px;
	position: absolute;
	top:354px;
	right:250px;
}
.banner .tips li {
	float:left;
	width:20px;
	height:20px;
	border-radius: 50%;
	background:#444;
	text-align: center;
	line-height: 20px;
	margin-left: 6px;
	cursor:pointer;
	color:#fff;
}
.promotion {
	height:398px;
	margin-top:20px;
}
.promotion .ads {
	width:255px;
	height:374px;
	float:left;
}
.promotion .promotion_goods{
	width:940px;
	height:398px;
	float:right;
}
.goods_margin {
	margin-left:20px;
}
.promotion .ads .ad_info,.promotion_goods {
	width:255px;
	height:205px;
	border:1px solid #ccc;
	border-top:2px solid #444;
}
.promotion .ads .ad_info h2,.promotion_goods h2 {
	width:253px;
	height:40px;
	border-bottom:1px solid #ccc;
	font-size:14px;
	line-height: 40px;
	text-indent: 12px;
}
.promotion_goods h2 {
	width:940px;
	
}
.goods_list {
	width:210px;
	height:315px;
	margin:13px 19px 13px 0px;
	float:left;
}

.goods_list ul {
	margin-top:30px;
	width:210px;
}
.goods_list ul li {
	width:100%;
	height:20px;
	overflow: hidden;
}
.goods_list ul li.delprice {
	text-decoration: line-through;
}
.promotion .ads .ad_info h2 span,.promotion_goods h2 span {
	float:right;
	margin-right: 12px;	
}
.promotion .ads .ad_info h2 span a,.promotion_goods h2 span a {
	font-size: 12px;
	font-weight: normal;
}
.promotion .ads .ad_info ul {
	width:230px;
	height:120px;
	padding:5px 7px;
}
.promotion .ads .ad_info ul li {
	width:225px;
	height:25px;
	line-height: 25px;
}
.promotion .ads .ad_img {
	margin-top:10px;
}
.hot {
	height:392px;
	margin-top:10px;
	/*margin-bottom: 10px;*/
}
.hot .main .hot_content,.news .news_left .bottom h3{
	height:392px;
	border:1px solid #ccc;
	
}
.hot .main .hot_content h2,.news .news_left h2 {
	height:40px;
	border:1px solid #ccc;
	font-weight: normal;
	text-indent: 20px;
	line-height: 40px;
	font-size:16px ;
}
.hot .main .hot_content h2 .hot_top {
	float:right;
}
.hot .main .hot_content h2 span {
	font-size:12px;
	margin-right:10px;	
}
.hot .main .hot_content h2 .hot_top li {
	float:left;
	font-size: 12px;
}
.hot .main .hot_content h2 span{
	float:right;
}
.hot .goods_margin .goods_list ul {
	margin-top:20px;
	font-size:12px;
}
.hot .goods_margin .goods_list ul li {
	height:20px;
	line-height: 20px;
}
.news {
	margin-top:10px;

}
.news .news_cont {
	height:553px;
	border-top:2px solid #444;
}
.news .news_left {
	width:255px;
	height:553px;
	float:left;
}
.news .news_left h2 {
	font-size:12px;	
}
.news .news_left img {
	width:255px;
	height:450px;
}
.news .news_left .bottom {
	width:255px;
	line-height: 40px;
}
.news .news_left .bottom h3{
	width:151px;
	float:left;
	height:40px;
	text-indent: 10px;
	border-right: 0;	
}
.news .news_left .bottom span {
	float:right;
}
.news .news_right {
	width:940px;
	height:553px;
	float:right;
}
.news .news_right .news_right_top {
	height:40px;
	border:1px solid #ccc;
	border-right:0;
	line-height: 40px;
}
.news .news_right .news_right_top h2{
	width:460px;
	float:left;
	font-size:12px;
	text-indent: 10px;
}
.news .news_right .news_cont_list {
	height:252px;
	border:1px solid #ccc;
	border-top:0;	
}
.news .news_right .news_cont_list .news_text {
	width:468px;
	height:252px;
	float:left;
}
.news .news_right .news_cont_list .news_text .news_text_list {
	float:left;
	width:270px;
}
.news .news_right .news_cont_list .news_text .news_text_list li {
	height:20px;
	line-height: 20px;
	text-indent: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news .news_right .news_cont_list .news_text .news_img {
	display: block;
	float:right;
}
.hot .main .price_low  {
	border-top:2px solid #444;
	padding-bottom: 10px;
	height:395px;
}
.banner ul li.active {
	background:#fff;
	color:#f00;
}
