html,body,div,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,input,table,tr,td,ul,li,p {
	padding:0;
	margin:0;
}
body {
	font-size:12px;
}
ul {
	list-style:none;
}
a {
	text-decoration: none;
	color:#333;
}
.main {
	width:1210px;
	margin:0 auto;
}
.header {
	width:100%;
	height:30px;
	background:#f5f5f5;
	line-height: 30px;
}
.header .main .left{
	float:left;
	width:96px;
	height:30px;
}
.header .main .left .bg {
	display: block;
	width:16px;
	height:16px;
	float:right;
	margin:8px 0 0 2px;
	background:url(../img/index_head.gif) 0 0 no-repeat;
	background-position:-36px 0 ;
}
.header .main .right {
	float:right;
}
.header .main .right span {
	margin-right: 2px;
}
.header .main .right ul {
	float:right;
}
.header .main .right ul li {
	float:left;
	padding:0 2px;
}
.header .main .right ul li a {
	color:#4d4d4d;
}
.header .main .right ul li span {
	color:#d6d6d6;
}
.logo_box {
	height:102px;
	width:100%;
}
.logo_box .logo {
	float:left;
	width:212px;
	height:66px;
	margin:20px 0 0 66px;
	background:url(../img/logo.jpg) 0 0 no-repeat;
}
.logo_box .main .input_margin span {
	display: block;
	width:13px;
	height: 12px;
	background: url(../img/xiasanjiao.jpg)0 0 no-repeat;
	position:absolute;
	top:14px;
	left:508px;
}

.logo_box form {
	float:right;
	margin-top:26px;
}

.input_margin {
	width:606px;
	height:38px;
	border:2px solid #7d595d;
	position: relative;
}
.input_margin .search {
	border:0;
	width:503px;
	height:38px;
	line-height: 38px;
	text-indent: 4px;
	outline: none;
} 
.input_margin .btn {
	width:80px;
	height:38px;
	background: #7d595d url(../img/search.jpg) center center no-repeat;
	border:0;
	float:right;
	outline:none;
}
.nav {
	width:100%;
	height:40px;
	background:#1C1D21;
	font-size: 16px;
	position:relative;
}
.nav .allkinds {
	float:left;
	width:253px;
	height:40px;
	background: #444;
	box-shadow: 0 1px 2px 0 #4D4D4D;
	line-height: 40px;
	text-align:center;
}
.nav .allkinds a {
	color:#fff;
	display: block;
}

.nav .nav_list {
	float:left;
	height:40px;
	line-height: 40px;
}
.nav .nav_list li {
	float:left;
	padding:0 14px;
}
.nav .nav_list li a {
	color:#ccc
}
.nav .nav_list li:last-child a{
	color:#f00;
}
.nav .sub_nav {
	z-index: 9999;
	width:253px;
	height:774px;
	position: absolute;
	top:40px;
	background: #f7f7f7;
	box-shadow: 0 2px 2px 2px #eee;
	text-align: left;
}
.nav .sub_nav a {
	font-size: 14px;
	color:#000;
	display: inline;
}
.nav .sub_nav dl {
	display: block;
	height:86px;
	position: relative;
}
.nav .sub_nav dl:hover {
	background:#958282;
	
}
.nav .sub_nav dl:hover dt,.nav .sub_nav dl:hover dd a {
	color:#fff;
}
.nav .sub_nav dt {
	font-weight: bolder;
}
.nav .sub_nav  dd {
	margin:0;
	padding:0;
	float:left;
	/*margin-right: 10px;*/
	height:16px;
	
}
.third_nav {
	z-index: 9999;
	background:#fff;
	width:766px;
	position: absolute;
	padding-left:42px;
	top:0px;
	left:255px;
	display: none;
	box-shadow: 1px 1px 1px 1px #eee;
}
.third_nav .content {
	width:100%;
	clear:both;
	border-top:1px solid #eee;

}
.third_nav .content b {
	float:left;
	margin-right:;
}
.third_nav .content ul {
	float:left;
	width:530px;
	
}
.third_nav .content ul li {
	padding:5px 0;
	width:140px;
	height:20px;
	line-height: 20px;
	margin-top:2px;
	float:left;
	text-align: center;
	border-right:1px solid #eee;
}
.third_nav .content ul li a:hover {
	text-decoration: underline;
}

.help {
	background: #f7f7f7;
	height:288px;
	/*margin-top:10px;*/
}
.help .help_top {
	padding-top:40px;
	border-bottom:2px solid #e0e0e0;
	height:86px;
}
.help .hl {
	width:240px;
	height:77px;
	float:left;
	text-align: center;
	
}
.help .hl span {
	display: block;
	float:left;
	width:55px;
	height:55px;
	margin-left:38px;
	
}
.help .help_one,.help .help_two,.help .help_three,.help .help_four {
	border-right: 1px solid #e6e6e6;	
}
.help .help_one span {
	background: url(../img/footer_icon.png) no-repeat;
	background-position: 0 0;
	
}
.help .help_two span {
	background:url(../img/footer_icon.png) no-repeat;
	background-position: 0 -60px;
}
.help .help_three span {
	background:url(../img/footer_icon.png) no-repeat;
	background-position: 0 -120px;
}
.help .help_four span {
	background:url(../img/footer_icon.png) no-repeat;
	background-position: 0 -180px;
}
.help .help_fif span {
	background:url(../img/footer_icon.png) no-repeat;
	background-position: 0 -240px;
}
.help_bottom dl {
	float:left;
	padding-left: 60px;
	padding-right: 45px;
	padding-top:38px;
}
.help_bottom dl dt {
	font-weight: bold;
}
.help_bottom dl dt ,.help_bottom dl dd {
	line-height: 30px;
}
.footer {
	width:100%;
	background:#4d4848;
	overflow: hidden;
	
}
.footer .footer_cont {
	height:137px;
	width:528px;
	margin:38px auto 0;
}
.footer .footer_cont ul li {
	float:left;
	text-align: center;
	color:#fff;
	padding:0 2px;
	height:20px;
}
.footer .footer_cont ul li a {
	color:#fff;
	padding-right: 2px;
}
.footer .footer_cont ul li a:hover {
	text-decoration: underline;
}
.footer .footer_cont p {
	clear: both;
	color:#fff;
	margin-top:10px;
}
.footer .footer_cont p a {
	color:#ccc;
	
	
}
.footer .footer_cont .copy {
text-align: center;
}
