.location {
	height:25px;
	line-height: 25px;
}
.location a:hover {
	color:#f00;
}
.shot_intr,.shot_intr .pro_left {
	height:518px;
}
.shot_intr .pro_left {
	width:450px;
	height:450px;
	position: relative;
	float:left;
}
.big_img {
	width:450px;
	height:450px;
	border: 1px solid #4D4D4D;
	position: absolute;
	top:0px;
	left:480px;
	margin-left:5px;
	display: none;
	overflow:hidden;
}
.big_img img {
	position: absolute;
	width:900px;
	height:900px;
}
.shot_intr .pro_img {
	position: relative;
}
.shot_intr {
	height:500px;
}
.shot_intr .pro_img,.shot_intr .pro_img img {
	width:450px;
	height:450px;
}
.shot_intr .pro_img .shadow {
	width:225px;
	height:225px;
	position: absolute;
	top:0;
	left:0;
	display: none;
	background:rgba(0,0,0,0.3);
}
.shot_intr .tab_img {
	height:63px;
	width:450px;
}
.shot_intr .tab_img img {
	cursor:pointer;
}
.shot_intr .tab_img div {
	float:left;
	width:52px;
	height:56px;
	margin:5px 2px 0;
	border:2px solid #ffff;
	position: relative;
}
.shot_intr .tab_img div span {
	position: absolute;
	top:-10px;
	left:28px;
	margin-left:-6px;
	display: none;
}
.shot_intr .tab_img li {
	float:left;
	width:52px;
	height:56px;	
}
.shot_intr .tab_img img {
	width:52px;
	height:56px;
}
.shot_intr .tab_img .icon_font {
	font-size: 4px;
	color:#f00;
}
.shot_intr .tab_img div:hover {
	border:2px solid #f00;
}
.shot_intr .tab_img div:hover span {
	display: block;
}
.shot_intr .pro_right {
	width:715px;
	height:373px;
	float:right;	
}
.pro_right .pro_title {
	height:30px;
	border-bottom: 2px solid #ccc;
	line-height: 30px;	
}
.pro_right .pro_title h2 {
	float:left;
	font-size:18px;
	font-weight: 300;
}
.pro_right .pro_title a {
	float:right;
	color:#ccc;
}
.pro_right .goods_logo {
	height:44px;
	margin-top:10px;
	padding-left:10px;
}
.pro_right .goods_logo p {
	width:250px;
	float:left;
	height:22px;
	line-height: 22px;
	color:#999;
}
.pro_right .price {
	color:#999;
	padding-left:10px;
	margin-top:20px;
}
.pro_right .price p {
	line-height: 22px;
}
.pro_right .price .goods_price span {
	color:#f00;
	font-size:20px;
	font-weight: bold;
}
.pro_right .price .up_price span {
	text-decoration: line-through;
}
.pro_right .price .share a:hover{
	color:#f00;
}
.pro_right .jifen {
	margin-top:22px;
	padding-left:10px;
	color:#999;
}
.pro_right .jifen span {
	color:#f00;
	font-weight: bold;
}
.pro_right .goodsform {
	margin-top:12px;
	padding-left:10px;
	color:#999;
}
.pro_right .goodsform h3{
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 10px;
}
.pro_right .goodsform .buy_number {
	margin-top:20px;
}
.pro_right .goodsform .buy_number #howmany {
	width:59px;
	height:34px;
}
.pro_right .goodsform .buy_number #howmany,.goodsform .buy_number b,.goodsform .buy_number i,.goodsform .buy_number strong,.goodsform .buy_number em,.goodsform .buy_number .notice{
	color:#f00;
	font-weight: bold;
}
.goodsform .buy_number em,.goodsform .buy_number i {
	font-style: normal;
}
#howmany {
	margin:0 20px 0 8px;
}
.pro_right .goodsform .sub {
	margin-top:38px;
	height:44px;
	width:705px;
}
.pro_right .goodsform button {
	width:161px;
	height:44px;
	background:url(../img/bnt_buy.gif) 0 0 no-repeat;
	border: none;
	outline:none;
	cursor: pointer;
	margin-left:136px;
}
/***************详情页细节样式(公用样式):***********************/
.details {
	margin-top:18px;
	
}
.details .details_left {
	float:left;
	width:255px;
	height:1232px;
	color:#f00;
}
.details_left h2 {
	height:39px;
	background:#444;
	color:#fff;
	text-indent:14px;
	line-height: 39px;
	font-size:14px;
}
.details_left .det_top {
	height:205px;
	border:1px solid #eee;
}
.details_left .det_kinds {
	width:233px;
	height:145px;
	margin-left:14px;
}
.details_left .det_kinds li {
	height:29px;
	line-height: 29px;
	font-size: 14px;
}
.details_left .det_bottom {
	height:1008px;
	border:1px solid #eee;
	margin-top:10px;
	border-top:2px solid #444;
}
.details_left .det_bottom h2 {
	background:none;
	color:#000;
	border-bottom: 1px solid #eee;
}
.details_left .det_bottom .det_history {
	height:85px;
	width:239px;
	border-bottom: 1px solid #eee;
	margin-left:10px;	
}
.details_left .det_bottom .det_history img {
	width:62px;
	height:62px;
	float:left;
	margin-top:5px;	
}
.details_left .det_bottom .det_history p {
	width:163px;
	height:38px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	color:#000;
	float:right;
	margin-top:5px;
}
.details_left .det_bottom .det_history p a:hover {
	color:#f00;
}
.details_left .det_bottom .clear {
	float:right;
	margin:2px 5px 0 0;
}
.details_left .det_bottom .clear:hover {
	color:#f00;
	
}
.details .details_right {
	width:940px;
	float:right;
}
.details_right .det_tab {
	height:38px;
	border-bottom:2px solid #eee;
}
.details_right .det_tab .tab li{
	font-weight: bold;
	float:left;
	height:38px;
	width:102px;
	background:#f5f5f5;
	color:#000;
	line-height:38px;
	text-align: center;
	margin-right: 5px;
	cursor:pointer;
}
.details_right .det_tab .tab li.active{
	background:#444;
	color:#fff;
		
}
.details_right table {
	width:100%;
	border:1px solid #ccc;
	margin-top:12px;
	border-collapse: collapse;
}
.details_right table tr {
	height:28px;
	line-height:28px;
}
.details_right table tr td {
	text-indent: 5px;
}
.details_right table tr td:nth-child(2n+1){
	width:30%;
}
.details_right table tr,.details_right table tr td {
	border:1px solid #ccc;
}
.details_right table .tab_t{
	text-align: center;
}
.details_right .judge {
	height:329px;
	width:938px;
	border:1px solid #ccc;
}
.details_right .tab2 {
	width:940px;
	height:200px;
	background:#eee;
	display: none;
}
